@import 'var';

table {
    width: 100%;
    font-size: 14px;
    background: $white;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

th {
    border-width: 0;
    padding: 10px 0;
    font-size: 15px;
    background-color: $lightRed;
    border-bottom: 1px solid $lightGrey;
    color: $white;
}

td {
    border-color: #e1e1e1;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-collapse: collapse;
    padding: 5px 0;
    color: $darkGrey;
}
td:first-child {
    border-left: 0;
}
td:last-child {
    border-right: 0;
}
tr:nth-child(even) {
    background: $lightGrey;
    color: $white;
}
tr:nth-child(odd) {
    background: $white;
}

.empty-table td {
    background-color: $white;
    padding: 20px 0;
}
