/* colors */
$darkblue:#00bcd4;
$lightBlue:#b2ebf2;
$lightRed:#ff5722;
$darkRed:#dd2c00;
$white:#fff;
$lightGrey:#e1e1e1;
$darkGrey: #333;

/* spacing */
$layoutBoxSpacing:10px;
$defaultBorderRadius:2px;

/* breakpoint */
$mobile:500px;
$tablet:768px;
$desktop:1024px;
