@use 'common/var' as *;

#box-repayments {
    ul {
        padding: $layout-box-spacing 0;

        li {
            border-bottom: 1px solid $dark-red;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            background-color: $white;
            margin-bottom: 1px;

            span {
                padding: $layout-box-spacing;
                color: $dark-blue;

                strong {
                    color: $dark-grey;
                }
            }

            &:last-child {
                border-bottom: 0;
            }

            button {
                font-weight: 900;
                background-color: $dark-blue;
                border: 0;
                color: $white;
                display: flex;
                align-items: center;
                font-size: 0.8em;
                cursor: pointer;
            }
        }
    }

    #total-repayments {
        padding: $layout-box-spacing;

        .total-repayment {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 0;
            font-weight: 900;
            font-size: 1.2em;
            border-bottom: 1px solid $dark-red;

            div:last-child {
                text-align: right;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
