/* colors */
$dark-blue: #00bcd4;
$light-blue: #b2ebf2;
$light-red: #ff5722;
$dark-red: #dd2c00;
$white: #fff;
$light-grey: #e1e1e1;
$dark-grey: #333;

/* spacing */
$layout-box-spacing: 10px;
$default-border-radius: 2px;

/* breakpoint */
$mobile: 500px;
$tablet: 768px;
$desktop: 1024px;
